<header class="header-container">
  <mat-toolbar class="header-toolbar">

    <nav>
      <ul class="header-nav-list">
        <li>
          <a [routerLink]="''" class="link" role="link">
            <mat-icon class="link-icon" aria-hidden="true">verified_user</mat-icon>
            Main
          </a>
        </li>
        <li>
          <a [routerLink]="'/book-list'" class="link" role="link">
            <mat-icon class="link-icon" aria-hidden="true">auto_awesome</mat-icon>
            Recent books
          </a>
        </li>
      </ul>
    </nav>
    <span class="header-text">Book Enthusiasts Project by <strong>Reka Madacsi</strong></span>
  </mat-toolbar>
</header>
